.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    background-color: var(--color-button);
    display: block;
    border-radius: 50%;
  }
}
